/*iphonemx11 414px
11pro 375px
6/7/8+ 414px
6/7/8 375px
5 320px
Ipad pro 12in 1024px
ipad pro 10.5/11in 834px
andriod mobile 350px
and tablet 768px
*/
/*widths*/
$ipad-pro:1024px;
$iphone-wide:375px;
$iphone-max678:414px;
$iphone-5:320px;


/*heights*/
$full-height:100%;


/*margin*/
